body {
    padding-top: 5rem;
}

.profile-header {
    background-color: #2ecc71;
    padding: 20px;
    margin: 0;
    border-radius: 0;
    color: white;

}
.profile-header .username,
.profile-header .location,
.profile-header .joined {
    color: white;
}
.profile-card {
    max-width: 500px;
    margin: 40px auto;
    background-color: #fdfdfd;
   
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
    overflow: hidden;
}


.profile-picture {
    width: 120px;
    height: 120px;
    padding: 5px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.username {
    color: #555;
    font-style: italic;
}

.location,
.joined {
    color: #777;
    font-size: 0.9em;
}

.profile-bio {
    margin: 20px 0;
    font-size: 1em;
    color: #333;
}

.profile-stats {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.stat h3 {
    margin: 0;
    color: #2c3e50;
}

.follow-btn {
    background: #14ad47;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1em;
    margin: 10px;
}

.follow-btn:hover {
    background: #29b9a1;
}